<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Vue.js SSR Testing</title>
  </head>
  <body>
    <div id="app">
      <span v-if="rendered">{{ message }}</span>
      <span v-else><%= Object.keys(items).length %></span>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        message: 'I was rendered by Vue.js!',
        rendered: false,
      },
      mounted() {
        setTimeout(() => {
          this.rendered = true;
        }, 1000);
      },
    });
  </script>
</html>
