<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Vue.js SSR Testing</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
      <div v-if="loaded">
        <create-item></create-item>
        <list-item
          v-for="(item, id) in items"
          :key="id"
          v-bind:id="id"
          v-bind:item="item"
        ></list-item>
      </div>
      <div v-else>
        <%- include('../templates/todo-item-list.ejs', { items }) %>
      </div>
    </div>
    <script>
      const items = JSON.parse(`<%- JSON.stringify(items) %>`);
    </script>
    <script src="/js/app.js" type="module"></script>
  </body>
</html>
